@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
  }
}

@layer base {
  body {
    @apply bg-gray-800 text-gray-100;
  }
}
